<h1>Bonjour! Veuillez confirmze votre compte</h1>

<p>
    Si vous voulez pouvoir utilisr votre compte veuillez confirmé votre email <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre mail</a>.
    Le liens expire dans :  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci ! l'équipe LEM 
</p>
