{% extends 'base.html.twig' %}

{% block title %}Page attente email{% endblock %}

{% block body %}
<div class="col-sm-12 text-center  py-5 text-warning bg-dark  ">
    <h2 class"text-warning">Un email vous a était envoyer pour confirmer votre compte</h2>
</div>

{% endblock %}